extends ../layout

block content
  .container
    .row
      form.form-horizontal(method='post', action='/admin/catepory')
        input(type='hidden', name='catepory[_id]', value=catepory._id)
        .form-group
          label.col-sm-10.control-label(for='inputCat') 电影分类
          .col-sm-10
            input#inputCat.form-control(type='text', name='catepory[name]', value=catepory.name)
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type='submit') 录入
          
